/* Navbar */
:root {
	--nav-background: var(--background-color);
	--nav-border: rgb(from var(--nav-background) calc(r + 25) calc(g + 25) calc(b + 25));
	
	--nav-hover-background: rgb(from var(--nav-background) calc(r + 10) calc(g + 10) calc(b + 10));
	--nav-hover-border: rgb(from var(--nav-border) calc(r + 10) calc(g + 10) calc(b + 10));
}

nav {
	display: flex;
	position: relative;
	width: 100%;
	background-color: var(--nav-background);
	border-bottom: 2px outset var(--nav-border);
}

nav a {
	color: var(--text-color);
	text-decoration: none;
	font-weight: bold;
}

.nav-section {
	display: flex;
	padding: 0.5rem 2rem;
	gap: 1rem;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-size: 1.5em;
	cursor: pointer;
}

.nav-section a {
	display: block;
	width: 100%;
	height: 100%;
}

.nav-section a i {
	font-size: 1em;
	padding: 5px;
	transition: 0.3s;
	
	&:hover {
		color: var(--text-color);
	}
}

.nav-section.nav-empty {
	flex-basis: 100%;
	cursor: unset;
}


.nav-dropdown:hover {
	background-color: var(--nav-hover-background);
}

.nav-dropdown:hover > a {
	color: var(--text-color);
}

#nav-projects {
	border-left: unset;
}

#nav-social {
	text-align: right;
	justify-content: flex-end;
	gap: 1rem;
}

.nav-dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

.nav-dropdown-content {
	font-size: 0.75em;
	left: 0;
	top: 50px;
	text-align: left;
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
	max-height: calc(100vh - 50px);
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.nav-dropdown-content a {
	scroll-snap-align: start;
	background-color: var(--nav-background);
	padding: 0.75rem 1rem;
	text-decoration: none;
	display: block;
	
	width: unset;
	height: unset;
	
	border: 1px solid var(--nav-border);
	border-bottom: unset;
}

.nav-dropdown-content a:last-child {
	border-bottom: 1px solid var(--nav-border);
}

.nav-dropdown-content > a:hover {
	color: white;
	background-color: var(--nav-hover-background);
	border-color: var(--nav-hover-border);
}

.nav-dropdown-content > a:hover + a {
	border-top-color: var(--nav-hover-border);
}

.nav-dropdown:hover .nav-dropdown-content {
	display: block;
}

.supress-hover.nav-dropdown:hover .nav-dropdown-content {
	display: none;
}

/* Brand Icons */
.nav-section .fa.brands.fa-twitter:hover {
	color: #1c9aef;
}

.nav-section .fa.brands.fa-youtube:hover {
	color: #fe0000;
}

.nav-section .fa.brands.fa-steam:hover {
	color: #4a7ca5;
}

.nav-section .fa.brands.fa-github:hover {
	color: #fff;
}

/* MOBILE */
nav.mobile {
	position: fixed;
	top: 0;
	z-index: 10;
}

nav.mobile .nav-dropdown {
	position: unset;
}

nav.mobile .nav-dropdown-content {
	right: 0;
}


nav.mobile .nav-section a {
	color: white;
}

nav.mobile .socials-container {
	overflow-x: clip;
	position: absolute;
	width: 100%;
	
	top: 49px;
	right: 0;
}

nav.mobile #nav-social {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 96.5px;
	text-align: center;
	
	background-color: var(--nav-background);
	border: 1px solid var(--nav-border);
	border-top: unset;
	border-right: unset;
	border-bottom-left-radius: 10px;
	
	gap: 1.5rem;
	
	position: absolute;
	right: -96.5px;
	top: 1px;
	
	flex-basis: 100%;
	
	transition: 0.5s;
	
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	
	z-index: 10;
}

nav.mobile #nav-social.slide-in {
	right: 0;
}

nav.mobile #nav-social a {
	display: block;
}

nav.mobile #nav-projects-dropdown.show-projects {
	display: block;
}
/* END NAVBAR */