<nav id="navbar">
			
	<div id="nav-logo" class="nav-section">
		<a href="/">
			<i class="fa-solid fa-house"></i>
		</a>
	</div>
	
	<div id="nav-projects" class="nav-section nav-dropdown">
		<a href="javascript:void(0)" onclick="hideSocials();">
			<i class="fa-solid fa-folder-open"></i>
		</a>
		<div id="nav-project-dropdown" class="nav-dropdown-content">
			{% for project in site.data.projects %}
				<a href="{{ project.url }}">
					{{ project.name | upcase }}
				</a>
			{% endfor %}
		</div>
	</div>
	
	<div class="nav-section nav-empty"></div>
	
	<div id="mobile-bars" class="nav-section">
		<a href="javascript:void(0)" onclick="toggleSocials()">
			<i class="fa-solid fa-bars"></i>
		</a>
	</div>
	{% if site.data.socials %}
	<div class="out-social">

		<div id="nav-social" class="nav-section">
			
			{% for social in site.data.socials %}
				{% if social.username != "" %}
				<a href="http://{{ social.url }}{{ social.username }}" target="_blank" rel="noreferrer">
					<i class="{{ social.icon }}"></i>
				</a>
				{% endif %}
			{% endfor %}
	
		</div>
	</div>
	{% endif %}
</nav>