<section id="project-logo-links">
	<img class="project-logo" alt="project-logo" src="{{ include.img }}" loading="eager">

	{% if include.npm %}
	<div class="project-title-npm">
		<a href="https://npmjs.com/package/{{ include.npm }}">
			<img alt="npm-stats" src="https://nodei.co/npm/{{ include.npm }}.png?compact=true" loading="eager">
		</a>
	</div>
	{% endif %}
	
	{% if include.script or include.docs or include.github %}
	<div class="project-title-links">
		{% if include.blog %}
			<a class="project-button" href="blog">Blog</a>
		{% endif %}
		
		
		{% if include.script %}
			<a class="project-button" href="try-it">Try it!</a>
		{% endif %}
		
		
		{% if include.docs %}
			<a class="project-button" href="docs">Docs</a>
		{% endif %}
		
		
		{% if include.github %}
			<a class="project-button open-in-new" href="{{ include.github }}">Github</a>
		{% endif %}
	</div>
	{% endif %}
</section>

<section id="project-title">
	<h1>{{ include.name }}</h1>
	<p>{{ include.desc }}</p>
	{% if include.codeExample %}
		<pre class="hljs expand"><code class="language-{{ include.codeLang }}">{{ include.codeExample }}</code></pre>
	{% endif %}
</section>

<section id="project-about">
	<h2>About</h2>
	{{ include.about }}
</section>

<section id="project-why">
	<h2>Why?</h2>
	{{ include.why }}
</section>