<div class="project-title-wrapper">
	<div class="text-center">
		<img alt="project-logo" src="{{ include.img }}" class="project-title-image" height="200" width="200" loading="eager">
		
		{% if include.npm %}
			<br>
			<a class="title-npm-link" href="https://npmjs.com/package/{{ include.npm }}">
				<img alt="npm-stats" class="title-npm-img" src="https://nodei.co/npm/{{ include.npm }}.png?compact=true" loading="eager">
			</a>
		{% endif %}
		
		{% if include.docs or include.changelog or include.github %}
		<div class="top-pad">
			
			{% if include.script %}
				<a class="project-button" href="try-it">Try it!</a>
			{% endif %}
			
			
			{% if include.docs %}
				<a class="project-button" href="docs">Docs</a>
			{% endif %}
			
			
			{% if include.changelog %}
				<a class="project-button" href="changelog">Changelog</a>
			{% endif %}
			
			
			{% if include.github %}
				<a class="project-button open-in-new" href="{{ include.github }}">Github</a>
			{% endif %}
			
		</div>
	{% endif %}
		
		<p>{{ include.desc }}</p>
				
	</div>

	{% if include.codeExample %}
		<pre><code class="language-{{ include.codeLang }}">{{ include.codeExample }}</code></pre>
	{% endif %}

	{% if include.why %}
		<div class="project-title-why">
			<h1>Why?</h1>
			<p>{{ include.why }}</p>
		</div>
	{% endif %}
		
	{% if include.extraTitle %}
		<div class="project-title-extra">
			<h2>{{ include.extraTitle }}</h2>
			{% assign extraList = include.extraDesc | split: ";" %}
			<ul>
				{% for listItem in extraList %}
					<li>{{ listItem }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>