<h4 class="no-border top-pad project-property">
	<a href="#{{ include.id | downcase }}" id="{{ include.id | downcase }}" class="heading-anchor">.{{ include.name }}()</a>
</h4>

<p>{{ include.desc }}<br>
	<b>Returns: {% case include.returns %}
			{% when "number" %}
				<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number" class="open-in-new">Number</a>
			{% when "string" %}
				<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String" class="open-in-new">String</a>
			{% when "boolean" %}
				<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean" class="open-in-new">Boolean</a>
			{% when "array" %}
				<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array" class="open-in-new">Array</a>
			{% when "object" %}
				<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object" class="open-in-new">Object</a>
			{% when "void" %}
				Void
			{% else %}
				<a href="{{ site.baseurl }}{{ include.link }}">{{ include.returns }}</a>
		{% endcase %}
	</b>
</p>

{% include project_docs_table.html
	arguments = include.arguments
%}