/*****************/
/*               */
/* Projects Page */
/*               */
/*****************/

.projects {
	max-width: 100%;
	text-align: center;
}

.project-embed {
	background-color: #2a2a2a;
	border-radius: 5px;
	border-top: 6px solid #764740;
	padding: 14px;
	padding-bottom: 5px;
	max-width: 300px;
	min-width: 300px;
	transition: 0.4s;
	
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	vertical-align: top;
	overflow: auto;
}

.project-embed:hover {
	background-color: #2f2f2f;
	border-top: 6px solid #8f5d56;
	transition: 0.4s;
}

.project-header {
	height: 90px;
	width: 300px;
	
	border-bottom: 1px solid #888;
}

.project-title-container {
	max-width: 220px;
	min-width: 220px;
	
	max-height: 80px;
	min-height: 80px;
	
	position: absolute;
	text-align: left;
	
	display: table;
}

.project-title {
	font-size: 20px;
	max-width: 210px;
	min-width: 210px;
	border-bottom: unset;
	display: table-cell;
	vertical-align: middle;
}

.project-image-container {
	float: right;
	max-width: 80px;
	min-width: 80px;
	max-height: 80px;
	min-height: 80px;
}
.project-image {
	max-width: 80px;
	min-width: 80px;
	max-height: 80px;
	min-height: 80px;
	display: inline-block;
}

.project-description {
	text-align: left;
	font-size: 15px;
}


@media screen and (max-width: 680px) {
	.project-embed {
		margin: 10px 5px;
	}
}

.page-content {
	padding: 1px 0 10px 0;
}