@font-face {
    font-family: 'OpenSansRegular';
    src: url('/src/fnt/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Using :root/ setting variables breaks these? */
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: #222;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

:root {
	--background-color: rgb(15, 15, 15);
	
	--border-color: rgb(47, 49, 50);
	--border-color-hover: rgb(77, 79, 80);
	
	--nav-background: rgb(25, 27, 29);
	--nav-background-hover: rgb(35, 37, 39);
	
	--text-color: rgb(200, 200, 200);
	--text-color-hover: rgb(255, 255, 255);
}

body {
	padding: 0;
	margin: 0;
	background: url('/src/img/bg.png') repeat var(--background-color);
	
	position: relative;
	
	width: 100vw;
	max-width: 100%;
	font-family: "OpenSansRegular", Arial, sans-serif;
	color: var(--text-color);
}

iframe {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text-color-hover);
	font-weight: 600;
	margin: 0.5em 0;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1em;
}

a {
	color: #ac7870;
	text-decoration: none;
	font-weight: bold;
	
	&:hover {
		color: #764740;
	}
	&:active {
		color: #764740;
	}
}


a.heading-anchor {
	color: inherit;
	text-decoration: none;
	
	&:hover {
		color: #d49595;
	}
}

p {
	margin-top: 0;
}


/* Table */
table {
	min-width: 600px;
	border: 1px solid #121212;
	width: 100%;
    border-collapse: collapse;
	margin: 0 0 5px;
	border-spacing: 0;
	display: table;
	box-sizing: border-box;
    text-indent: initial;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th {
	background-color: #764740;
    color: #fff;
    border-bottom: 0px solid #121212;
	text-align: left;
    padding: 5px 10px;
	display: table-cell;
    vertical-align: inherit;
}
td {
	background-color: #292929;
    border-bottom: 0px solid #121212;
	text-align: left;
    padding: 5px 10px;
	display: table-cell;
    vertical-align: inherit;
}
table tr:nth-child(odd) td {
	background-color: #2f2f2f;
}


code {
    padding: 0.2em 0.4em;
    font-size: 85%;
    white-space: break-spaces;
    background-color: #363636;
    border-radius: 6px;
    margin: 0;
}

/* Navbar */
nav {
	display: flex;
	width: 100%;
	border-bottom: 2px outset var(--border-color);
	background-color: var(--nav-background);
	position: relative;
}

nav a {
	color: var(--text-color);
}


/* Overflow containers */
.overflow-container {
	overflow-x: auto;
	margin: 0 5px;
	width: 100%;
}

.overflow-container pre {
	min-width: fit-content;
	margin: 0 0 5px;
}

.overflow-container pre code {
	white-space: pre;
}


.nav-section {
	padding: 0.5rem 2rem;
	display: flex;
	gap: 1rem;
	border-left: 1px solid var(--border-color);
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-size: 1.5em;
}

.nav-dropdown:hover {
	background-color: var(--nav-background-hover);
}

.nav-dropdown:hover > a {
	color: white;
}


.nav-section a i {
	font-size: 1em;
	padding: 5px;
	transition: 0.3s;
	
	&:hover {
		color: #fff;
	}
}

#nav-projects {
	border-left: unset;
}

.nav-section.nav-empty {
	flex-basis: 100%;
	cursor: unset;
}

#nav-social {
	text-align: right;
	justify-content: flex-end;
	gap: 1rem;
}

#mobile-bars {
	display: none;
}

/* Dropdown Menu */
.nav-dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

.nav-dropdown-content {
	font-size: 0.75em;
	left: 0;
	top: 50px;
	text-align: left;
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
	max-height: calc(100vh - 50px);
	overflow-y: auto;
}

.nav-dropdown-content a {
	background-color: var(--nav-background);
	padding: 0.75rem 1rem;
	text-decoration: none;
	display: block;
	
	border-top: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
}

.nav-dropdown-content a:last-child {
	border-bottom: 1px solid var(--border-color);
}

.nav-dropdown-content > a:hover {
	color: white;
	background-color: var(--nav-background-hover);
	border-color: var(--border-color-hover);
}

.nav-dropdown-content > a:hover + a {
	border-top-color: var(--border-color-hover);
}

.nav-dropdown:hover .nav-dropdown-content {
	display: block;
}

.supress-hover.nav-dropdown:hover .nav-dropdown-content {
	display: none;
}



/** navbar brand icon color changes */
.nav-section .fa.brands.fa-twitter:hover {
	color: #1c9aef;
}

.nav-section .fa.brands.fa-youtube:hover {
	color: #fe0000;
}

.nav-section .fa.brands.fa-steam:hover {
	color: #4a7ca5;
}

.nav-section .fa.brands.fa-github:hover {
	color: #fff;
}

/***************************/



.main-projects {
	margin: 1rem;
}

.main-projects > .project-container {
	/* background-color: var(--background-color); */
	padding-top: 1rem;
	gap: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
	align-items: center;
	justify-content: center;
	
	width: 1250px;
	margin: 0 auto;
}

.project-container > .project-tile {
	box-sizing: border-box;
	
	font-size: 0.9em;
	
	background-color: rgb(25, 27, 29);
	border-radius: 10px;
	
	border: 1px solid var(--border-color);
	
	padding: 1em;
	cursor: pointer;
	
	min-height: 300px;
	height: 300px;
	max-height: 300px;
	
	display: flex;
	flex-direction: column;
	position: relative;
	
	transition: 200ms;
	
	&:hover {
		border-color: var(--border-color-hover);
		background-color: var(--nav-background-hover);
	}
}

.project-tile > .tile-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
	
	align-items: center;
	text-align: center;
		
	width: 100%;
	height: 100px;
	
	padding-bottom: 5px;
	margin-bottom: 1em;
	border-bottom: 2px solid var(--border-color);
}

.tile-title-container {
	position: relative;
    text-align: left;
    display: table;
	width: 100%;
}

.tile-title-container > .tile-title {
	display: table-cell;
    vertical-align: middle;
	text-align: left;
	
	width: 100%;
	height: 100%;

	margin: 0;
}

.tile-header > .tile-icon {
	width: 90px;
	height: 90px;
	justify-content: flex-end;
}

/***************************/

.main-title {
	background-color: var(--background-color);
	height: calc(100vh - 52px);
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	max-width: 1200px;
	/* column-gap: 1rem; */
	
	position: relative;
	margin: 0 auto;
	padding: 0 1rem;
}


.main-title > section {
	padding: 1rem;
	/* border: 1px dashed var(--border-color); */
}

/* .main-title > section:nth-child(-n + 2) {
	border-bottom: 1px solid var(--border-color);
} */

.main-title p:last-child {
	margin: 0;
}


#project-logo-links img.project-logo {
	width: 95%;
	max-width: 380px;
}

#project-title {
	position: relative;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	grid-row: 1 / 2;
	grid-column: 0 / 1;
}

#project-title p:last-child {
	max-width: 400px;
}

#project-title {
	grid-row: 1 / 2;
	grid-column: 0 / 1;
}


#project-why {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}


#project-about {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}


#project-logo-links {
	position: relative;
	
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
	gap: 0.5rem;
}

.project-title-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0.25rem;

	align-items: center;
	text-align: center;
		
	width: 100%;
}


.project-title-links > a {
	border: #3a3a3a 2px solid;
    border-radius: 5px;
    color: var(--font-color);
    background-color: rgb(25, 27, 29);
    padding: 0.5em 1.25em;
    display: inline-table;
	
	&:hover {
		border-color: var(--border-color-hover);
		background-color: var(--nav-background-hover);
	}
}


/* Docs Pages */
.main-docs {
	background-color: var(--background-color);
	min-height: calc(100vh - 52px);
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
	
}


.main-docs h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
}

.main-docs .docs-readonly {
	background-color: #764740;
	color: #ddd;
	font-size: 0.6em;
	padding: 1px 7px;
	border-radius: 5px;
	vertical-align: middle;
}



.text-center {
	text-align: center;
}

.no-border {
	border: none;
}

.top-pad {
	padding-top: 1em;
}

.right-pad {
	padding-right: 1em;
}

.bot-pad {
	padding-bottom: 1em;
}

.left-pad {
	padding-left: 1em;
}

.vert-pad {
	padding-top: 1em;
	padding-bottom: 1em;
}

.hor-pad {
	padding-left: 1em;
	padding-right: 1em;
}

.no-pad {
	padding: 0;
}

.no-margin {
	margin: 0;
}
.no-margin-top {
	margin-top: 0;
}
.no-margin-bot {
	margin-bottom: 0;
}
.no-margin-left {
	margin-left: 0;
}
.no-margin-right {
	margin-right: 0;
}

.hidden {
	display: none;
}

/* Base Conversions */
.base-conversion {
	transition: 1s;
}
.input-area {
	max-width: 330px;
	background-color: var(--background-color);
}
.bc-error {
	font-size: 15px;
	font-weight: bold;
    color: rgb(238, 109, 109);
}
.bc-conversion-zone {
	padding: 1em;
	margin-bottom: 1em;
	
	background-color: var(--background-color);
	border: solid 1px var(--border-color);
	border-radius: 1em;
}
.bc-div-center {
	margin: 0 auto;
}
.bc-output {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	columns: 1;
	
	margin: 1rem auto;
	padding: 1rem 0;
	
	background-color: var(--background-color);
	border: solid 1px var(--border-color);
	border-radius: 1em;
	
	max-width: 550px;
	width: 100%;
}
.bc-output > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	columns: 1;
	
	text-align: center;
	
	max-width: 500px;
	width: 100%;
}


.mainChecklist {
	margin: auto;
	width: 700px;
	max-width: 95vw;
	text-align: center;
	border-radius: 10px;
}

.checkboxType {
	margin: 1rem;
	padding: 0.5rem 1rem 1rem 1rem;
	text-align: left;
	border-radius: 10px;
	background-color: var(--nav-background-hover);
}

.checkall {
	vertical-align: middle;
	margin-bottom: 3px;
}


@media screen and (max-width: 1350px){
	.main-projects > .project-container {
		width: 100%;
	}
}



@media screen and (max-width: 950px){
	.main-title {
		display: flex;
		flex-direction: column;
		
		gap: 1rem;
		
		height: unset;
		padding-bottom: 2rem;
	}
	
	.main-title > section {
		padding: 0 1rem;
	}
	
	#project-title {
		text-align: center;
	}
}


@media screen and (max-width: 600px){
	nav {
		position: fixed;
		top: 0;
		z-index: 10;
	}
	
	body {
		margin-top: 52px;
	}
	
	.nav-dropdown {
		position: unset;
	}
	
	.nav-dropdown-content {
		right: 0;
	}
	
	.nav-section.nav-empty {
		display: none;
	}
	
	#nav-projects {
		flex-basis: 100%;
	}
	
	.nav-section a {
		color: white;
	}
	
	#mobile-bars {
		display: block;
	}
	
	.out-social {
		overflow-x: clip;
		position: absolute;
		width: 100%;
		
		top: 49px;
		right: 0;
	}
	
	#nav-social {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		width: 96.5px;
		text-align: center;
		
		background-color: var(--nav-background);
		border-bottom: 1px solid var(--border-color);
		border-bottom-left-radius: 10px;
		
		gap: 1.5rem;
		
		position: absolute;
		right: -96.5px;
		top: 0;
		
		flex-basis: 100%;
		
		transition: 0.5s;
		
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		
		z-index: 10;
	}
	
	#nav-social.slide-in {
		right: 0;
	}
	
	#nav-social a {
		display: block;

	}
	
	/* Base Conversions */
	.main-conversions{
		background-color: var(--background-color);
	}
	.bc-conversion-zone {
		background-color: #181818;
	}
	.bc-output {
		background-color: unset;
		border: unset;
		margin: 0;
		padding: 0;
	}
	.bc-output > div {
		max-width: 80%;
		margin: 1rem;
		padding: 1rem;
	}
}