@font-face {
    font-family: 'OpenSansRegular';
    src: url('/src/fnt/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('/src/fnt/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('/src/fnt/OpenSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Using :root/ setting variables breaks these? */
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: #222;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

:root {
	--text-color: rgb(235, 235, 235);
	--background-color: rgb(15, 20, 15);
	--primary-color: rgb(7, 162, 24);
	--secondary-color: rgb(40, 100, 55);
	--accent-color: rgb(23, 182, 182);
	--navbar-height: 51px;
	
	/* --primary-color-add: rgb(from var(--primary-color) calc(r + 15) calc(g + 15) calc(b + 15)); */
	/* --primary-color-opacity: rgb(from var(--primary-color) r g b / 0.5); */
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	width: 100vw;
}

body {
	position: absolute;
	left: 0;
	top: 0;
	
	background: var(--background-color);
	
	height: 100%;
	width: 100%;
	
	overflow: auto;
	
	font-family: "OpenSansRegular", Arial, sans-serif;
	color: var(--text-color);
	overflow: hidden;
}

#root {
	position: absolute;
	left: 0;
	top: var(--navbar-height);
	
	height: 100%;
	width: 100%;
	max-height: calc(100% - var(--navbar-height));
	overflow: auto;
	scrollbar-gutter: stable;
	
	min-height: fit-content;
}

.width-limit {
	height: 100%;
	
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#content {
	display: block;
	padding-top: 1em;
	width: 100%;
	
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: "OpenSansBold", Arial, sans-serif;
}

.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.page-title {
	margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
	#content {
		padding-top: 0;
	}
	
	.width-limit {
		display: block;
	}
}

@media screen and (max-height: 768px) {
	.width-limit {
		display: block;
	}
}