@font-face {
    font-family: 'OpenSansRegular';
    src: url('/src/fnt/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('/src/fnt/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('/src/fnt/OpenSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Using :root/ setting variables breaks these? */
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background: #222;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

:root {
	--text-color: rgb(235, 235, 235);
	--background-color: rgb(15, 20, 15);
	--primary-color: rgb(7, 162, 24);
	--secondary-color: rgb(40, 100, 55);
	--accent-color: rgb(23, 182, 182);
	--navbar-height: 51px;
	
	/* --primary-color-add: rgb(from var(--primary-color) calc(r + 15) calc(g + 15) calc(b + 15)); */
	/* --primary-color-opacity: rgb(from var(--primary-color) r g b / 0.5); */
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	width: 100vw;
}

body {
	position: absolute;
	left: 0;
	top: 0;
	
	background: var(--background-color);
	
	height: 100%;
	width: 100%;
	
	overflow: auto;
	
	font-family: "OpenSansRegular", Arial, sans-serif;
	color: var(--text-color);
	overflow: hidden;
}

#root {
	position: absolute;
	left: 0;
	top: var(--navbar-height);
	
	height: 100%;
	width: 100%;
	max-height: calc(100% - var(--navbar-height));
	
	min-height: fit-content;
}

#width-limit {
	height: 100%;
	
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: "OpenSansBold", Arial, sans-serif;
}

.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.page-title {
	margin-bottom: 2rem;
}

#query-container {
	display: block;
	height: 100%;
	
	overflow: auto;
	scrollbar-gutter: stable;
	
	container-type: size;
	container-name: q-cont;
}

ul {
	padding-left: 40px;
	margin: 16px 0;
}


a {
	color: #ac7870;
	text-decoration: none;
	font-weight: bold;
	
	&:hover {
		color: #764740;
	}
}


a[target="_blank"].open-in-new::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='0.8em' width='0.8em' fill='%23AC7870' viewBox='0 0 512 512'%3E%3Cpath d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z'/%3E%3C/svg%3E");
	text-decoration: underline;
	position: relative;
	padding: 0 2px 0 4px;
}

a[target="_blank"].open-in-new:hover::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='0.8em' width='0.8em' fill='%23764740' viewBox='0 0 512 512'%3E%3Cpath d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 767px) {
	#content {
		padding-top: 0;
	}
	
	#width-limit {
		display: block;
	}
}